.hero {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
    background-color: #FEFAF5;
}

.hero__text {
    padding-right: 3rem;
}

.hero__slogan {
    font-size: 3rem;
}

.hero__button {
    background-color: #DB7A4E;
    color: #ffffff;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 2.5rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.hero__image {
    width: 40%;
}

.recommendations {
    padding: 3rem 5rem;
}

.recommendations__destinations {
    display: flex;
    justify-content: center;
    padding: 1rem 4rem;
}

.destinations__card {
    border:solid 1px rgb(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
    position: relative;
    transition: 0.2s;
}

.destinations__card:hover {
    border:solid 3px rgb(51, 85, 118, 0.7);
}

.destinations__card--hawaii {
    background-image: url(../assets/Images/hawaii.jpg);
}

.destinations__card--iceland {
    background-image: url(../assets/Images/iceland.jpg);
}

.destinations__card--greece {
    background-image: url(../assets/Images/greece.jpg);
}

.destinations__card--title {
    color:white;
    margin: 0;
    position: absolute;
    bottom: 1rem;
    right: 1rem
}